node_modules
npm-debug.log*
.git
.gitignore
.github
.freebuff
downloads
public/sites/*.zip
*.md
LICENSE.md
README.md
.env*
client/node_modules
client/.next
client/.gitignore
doctor.config.json
.vscode
.idea
*.log
